<ion-view style="" id="page2" title="Change Password">
    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 50px;" class="spacer"></div>
        <div>
       <img style="display: block; margin-left: auto; margin-right: auto;" src="img/logo2.png" height="auto" width="200px">
        </div>
        <div style="width: 283px; height: 50px;" class="spacer"></div>
        <form class="change-password" name="changepassword" ng-submit="changePassword()">
         <div class="list">
          <label class="item item-input">
            <input type="password" placeholder="Old Password" name="oldpassword" ng-model="data.oldpassword" required>
          </label>
            <span style="color:red;" ng-show="changepassword.$submitted || changepassword.oldpassword.$touched">
                <span ng-show="changepassword.oldpassword.$error.required">Old Password is required.</span>
            </span>
          <label class="item item-input">
            <input type="password" placeholder="New Password" name="newpassword" ng-model="data.newpassword" required>
          </label>
          <span style="color:red;" ng-show="changepassword.$submitted || changepassword.newpassword.$touched">
                <span ng-show="changepassword.newpassword.$error.required">New Password is required.</span>
            </span>
          <label class="item item-input">
            <input type="password" placeholder="Confirm Password" name="cpassword" ng-model="data.cpassword" ng-model='data.password_verify' data-password-verify="data.newpassword" required>
          </label>
               <span ng-show="changepassword.$submitted || changepassword.cpassword.$touched">
      <span ng-show="changepassword.cpassword.$error.passwordVerify" class="assertive">
        Passwords do not match.</span>         
       <div ng-show="changepassword.cpassword.$error.required" class="assertive">Confirm password required</div>
              </span>
          <input type="submit" class="button button_purpel  button-block" ng-disabled="changepassword.$invalid || changepassword.$pristine"  style="border-radius:0;" value="SAVE">
        </div>
        </form>
    </ion-content>
</ion-view>