<ion-view style="" id="page4" title="Forgot Password" hide-nav-bar="true">

<ion-header-bar align-title="left" id="div1" class="bar-light">
<div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Forgot Password</h1>
  <div class="buttons">
  </div>
</ion-header-bar>


    <ion-content class="has-header" padding="true">
        <div style="width: 283px; height: 83px;" class="spacer"></div>
        <div style="color:#000000;text-align:center;" id="finalStep-markdown2">
            <p style="  color: #444 !important; font-size: 18px; font-weight: 600;">Write Your Email Here</p>
        </div>
        <div style="width: 283px; height: 71px;" class="spacer"></div>
        <form class="list" id="finalStep-form3" name="Forgot" ng-submit="forgot_password()" novalidate="novalidate">
            <label id="finalStep-input7" class="item-input input_border">
                <input name="email" placeholder="Email" type="email" style="text-align:center;" ng-model="data.email" required="required">
            </label>
            <span style="color:red" ng-show="Forgot.$submitted || Forgot.email.$touched">
                <span ng-show="Forgot.email.$error.required">Email is required.</span> 
            </span>
             <div style="width: 283px; height: 27px;" class="spacer"></div>
            <div class="custom_padding">
                <input ng-disabled="Forgot.$invalid || Forgot.$pristine" type="submit" value="FINISH" class="button button_purpel  button-block" style="border-radius:0px 0px 0px 0px;"/>
            </div>
        </form>
    </ion-content>
</ion-view>
